@font-face {
    font-family: Bitsumishi;
    src: url(../font/Bitsumishi.woff2) format('woff2'),
         url(../font/Bitsumishi.ttf) format('truetype');
}

.bitsumishi {
    font-family: Bitsumishi;
    font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}