:root {
    --accent: rgb(109, 197, 73);
}

#mobile-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

#mobile-menu.open {
    max-height: 500px;
    opacity: 1;
}
